<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>goodsName</key>
		<string>割掉耳朵后的自画像</string>
		<key>goodsImage</key>
		<string>http://photocdn.sohu.com/20151212/mp48093163_1449900609985_2.jpg</string>
		<key>goodsBuyer</key>
		<string>郭靖</string>
		<key>goodsPrice</key>
		<string>100</string>
		<key>goodsId</key>
		<string>1</string>
		<key>goodsTime</key>
		<string>9</string>
		<key>goodsDesc</key>
		<string>这幅作于1888 年2 月的《割掉耳朵后的自画像》，是给后人留下的第一幅展现梵高当时在阿尔勒的精神状态的自画像。画家有一个高高的向上斜的前额、一个强有力的鹰勾鼻子、三角形不对称的脸孔和那突出的颧骨、下陷的双颊，他的形象给人以极其深刻印象。梵高的自画像，往往成为对画家心理探索的佐证，是画家性格特征的一面镜子。画家在描绘自己时，敢于剖析，毫不掩饰地揭示出他性格中最令人感到意外，却又是最为动人的一面。此幅肖像作于他的“割耳朵事件”发生一个多月之后。此刻，画家已找到了他内心的自我平衡。</string>
	</dict>
	<dict>
		<key>goodsName</key>
		<string>向日葵</string>
		<key>goodsImage</key>
		<string>http://photocdn.sohu.com/20151212/mp48093163_1449900609985_3.jpg</string>
		<key>goodsBuyer</key>
		<string>黄蓉</string>
		<key>goodsPrice</key>
		<string>120</string>
		<key>goodsId</key>
		<string>2</string>
		<key>goodsTime</key>
		<string>3</string>
        <key>goodsDesc</key>
        <string>梵高用简练的笔法表现出植物形貌，充满了律动感及生命力。整幅画仍维持一贯的黄色调，只是较为轻亮。这幅画被认为是梵高在黄房子里面的最后一幅大型《向日葵》。
            　　在这幅作品中，再也看不到自画像里那种短促而笔触，在这里，他的笔触坚实有力,大胆恣肆，把向日葵绚丽的光泽、饱满的轮廓描绘得淋漓尽致。他大胆地使用最强烈的色彩，因为他清楚地知道：“岁月将使它们变得暗淡，甚至过于暗淡。”尽管采取了种种保护措施，这些色彩仍然消褪了原有的光泽。
            　　《向日葵》打破陈规，强烈的对比颜色和厚重的色块结合得天衣无缝，更创造出新的对比色系，对往后的艺术发展产生深远的影响。
            　　此画以黄色和橙色为主调，用绿色和蓝色的细腻笔触勾勒出花瓣和花茎，签名和一朵花的中心也使用了蓝色。籽粒上的浓重色点具有醒目的效果，纤细的笔触力图表现花盘的饱满和纹理的婀娜感觉。
            　　“在黄色背景前面的一幅十五朵花,好像我以前所画的一样。不同之处是这幅画更大一些，它有一种相当特殊的效果，我认为这一幅是以更加简练的手法画出来的。”
            　　“在我的黄颜色房间里——带紫色圆环的向日葵突出在一片黄颜色的背景之前，花梗浸在一只黄颜色的壶中，壶放在一张黄颜色的桌上。画面的一角上，画家的签名：文森特。黄颜色的太阳透过我房间里的黄颜色窗帘，一派生气沐浴在一片金色之中。早晨，我在床上醒来，想象这一切必定是芳香扑鼻。” （高更）</string>
	</dict>
	<dict>
		<key>goodsName</key>
		<string>夜晚露天咖啡座</string>
		<key>goodsImage</key>
		<string>http://photocdn.sohu.com/20151212/mp48093163_1449900609985_4.jpg</string>
		<key>goodsBuyer</key>
		<string>乔峰</string>
		<key>goodsPrice</key>
		<string>320</string>
		<key>goodsId</key>
		<string>3</string>
		<key>goodsTime</key>
		<string>7</string>
        <key>goodsDesc</key>
        <string>梵高经常在晚上光顾离他住所不远的咖啡馆。咖啡馆的耀眼灯光和布满天空的星辰，激发了他作画的热情。他在这幅画上，用黄和蓝来表现一种独特感受。画中被灯光照成黄色的咖啡座和蓝色星空的对比，使整幅画显得很美，洋溢着一种平和的诗意。梵高曾说：“对我来说，晚上看来比白天更有活力，更有丰富的色彩，晚上作画，看天上有闪烁的星星，地面有灯光，是一幅很美的与安详的作品。”
            　　『梵高自5月到9月18日借住的兰卡散尔咖啡馆，位于形式广场(Place du Form)，由于通宵营业，因而被称之为"夜间的咖啡馆"。他曾用两个通宵画了一幅咖啡馆室内的作品，《夜间的咖啡馆》是同期的作品。他时常觉得夜间比白天更充满了生气蓬勃的色彩，所以几度跑到户外云画星星。画中，在煤气灯照耀下的橘黄色的天蓬，与深蓝色的星空形成同形逆向的对比，好像在暗示着希望与悔恨、幻想与豪放的复杂心态。梵高已慢慢地在画面上显露出他那种繁杂而不安、彷徨而紧张的精神状况。</string>
	</dict>
	<dict>
		<key>goodsName</key>
		<string>夜间咖啡馆</string>
		<key>goodsImage</key>
		<string>http://photocdn.sohu.com/20151212/mp48093163_1449900609985_5.jpg</string>
		<key>goodsBuyer</key>
		<string>段誉</string>
		<key>goodsPrice</key>
		<string>10</string>
		<key>goodsId</key>
		<string>4</string>
		<key>goodsTime</key>
		<string>8</string>
        <key>goodsDesc</key>
        <string>《夜间室内咖啡座》是知名的荷兰画家梵高的作品之一，他于1888年9月在法国普罗旺斯的阿尔勒所绘，目前收藏在荷兰的克勒勒·米勒博物馆内。
            　　梵高当年在阿尔勒描绘的这家咖啡馆如今依然矗立在拉马丁广场。梵高抵达阿尔勒后，一直住在这里，后来怀着建造艺术家聚居地的希望，搬入黄房子，与高更共同生活了两个月。
            　　梵高阿尔勒时期的作品，总令人充满阳光的明亮的风景画，其实他受夜景刺激而绘画作亦为数不少。
            　　这幅右下角有着梵高签名的画作描绘的是室内的咖啡馆的场景，处在画面中间位置的门帘半开半掩着，据推测门后面有很多独立的小房间。五位顾客沿着墙坐在左右两侧，服务员站在灯光下面面对着观众，在他一侧房间中间部位一有张台球桌。
            　　画面中的五位顾客被描述成喝醉酒在昏昏欲睡的流浪汉以及妓女和嫖客，有学者说咖啡馆是穷困潦倒的人和妓女夜间出没的场所，这在画面远处的角落里得以体现。</string>
	</dict>
	<dict>
		<key>goodsName</key>
		<string>星夜</string>
		<key>goodsImage</key>
		<string>http://photocdn.sohu.com/20151212/mp48093163_1449900609985_6.jpg</string>
		<key>goodsBuyer</key>
		<string>神仙姐姐</string>
		<key>goodsPrice</key>
		<string>199</string>
		<key>goodsId</key>
		<string>5</string>
		<key>goodsTime</key>
		<string>2</string>
        <key>goodsDesc</key>
        <string>作为表现性的后印象主义画家梵高的作品，这幅画有很强的笔触。油画中的主色调蓝色代表不开心、阴沉的感觉。很粗的笔触代表忧愁。画中景象是一个望出窗外的景象。画中的树是柏树，但画得像黑色火舌一般，直上云端，令人有不安之感。天空的纹理像涡状星系，并伴随众多星点，而月亮则是以昏黄的月蚀形式出现。整幅画中，底部的村落是以平直、粗短的线条绘画，表现出一种宁静；但与上部粗犷弯曲的线条却产生强烈的对比，在这种高度夸张变形和强烈视觉对比中体现出了画家躁动不安的情感和迷幻的意象世界。</string>
	</dict>
	<dict>
		<key>goodsName</key>
		<string>罗纳河上的星夜（星空）</string>
		<key>goodsImage</key>
		<string>http://photocdn.sohu.com/20151212/mp48093163_1449900609985_7.jpg</string>
		<key>goodsBuyer</key>
		<string>张无忌</string>
		<key>goodsPrice</key>
		<string>82</string>
		<key>goodsId</key>
		<string>6</string>
		<key>goodsTime</key>
		<string>10</string>
        <key>goodsDesc</key>
        <string>《星夜》是一幅既亲近又茫远的风景画，这可以从十六世纪风景画家老勃鲁盖尔的高视点风景手法上看出来，虽然梵高更直接的源泉是某些印象主义者的风景画。高大的白杨树战栗着悠然地浮现在我们面前；山谷里的小村庄，在尖顶教堂的保护之下安然栖息；宇宙里所有的恒星和行星在“最后的审判”中旋转着、爆发着。这不是对人，而是对太阳系的最后审判。这件作品是在圣雷米疗养院画的，时间是1889年6月。他的神经第二次崩溃之后，就住进了这座疗养院。
            一个疯人，或者一个不能控制自己行为的人，无论如何也不能画出这么有分寸、技法娴熟的画来。记得一句关于梵高的话：“灿烂到极致不是黯淡就是死亡，所以梵高也只能，毁灭了自己。</string>
	</dict>
	<dict>
		<key>goodsName</key>
		<string>吃土豆的人</string>
		<key>goodsImage</key>
		<string>http://photocdn.sohu.com/20151212/mp48093163_1449900609985_8.jpg</string>
		<key>goodsBuyer</key>
		<string>赵敏</string>
		<key>goodsPrice</key>
		<string>88</string>
		<key>goodsId</key>
		<string>8</string>
		<key>goodsTime</key>
		<string>7</string>
        <key>goodsDesc</key>
        <string>吃土豆的人》展现出贫苦的一家人劳作一天，晚餐桌上的主食却只有土豆而已。画中右手边的老妇人，生活的重压剥夺了她全部的生趣，她机械地倒着手中的咖啡，目光不与餐桌上的任何一个人交接；画中左手的中年男子，他小心翼翼地注视着对面的母亲，似乎为自己的胃口充满了负罪感。昏黄的灯光下，围坐在餐桌边的一家人眼中却仍然透露出饥渴的神情，此时无声胜有声，他们似乎在静静地诉说着他们的哀伤……
            　　围着餐桌而坐的五个农民，都曾作过个别习作。那询问似的炯炯眼神，右端的农妇下垂的厚重眼睑，布满皱纹、凹凸不平的脸和手，充分地表现出大地上勤奋的劳动者的“力量”。他在信上表示，希望这幅画能强调出“伸在碟子上的那只手，曾挖掘过泥土。”同时窗外的景色，也令人深切地感受到煮土豆的香味。
            　　这幅《吃土豆的人》是梵高接触印象派之前的最重要作品。与前面以织布工为题材的作品相比，这幅画的明显不同在于人物成了主角。虽然因为离模特太近，导致透视比例产生了偏差，但是，梵高在这幅画中加入了自己的主观情感，而不再拘泥于写实主义的“冷静旁观”。一家人身处如此悲惨境遇，却是那样的安详和平静，令观者对人生、对命运产生无限的感慨。梵高说：“我要努力学会的，不是画一个比例正确的头像，而是画出生动的表情。简单地说，不是描摹没有生命的东西，而是画鲜活的生活。”</string>
	</dict>
	<dict>
		<key>goodsName</key>
		<string>鸢尾花</string>
		<key>goodsImage</key>
		<string>http://photocdn.sohu.com/20151212/mp48093163_1449900609985_9.jpg</string>
		<key>goodsBuyer</key>
		<string>张三丰</string>
		<key>goodsPrice</key>
		<string>88</string>
		<key>goodsId</key>
		<string>8</string>
		<key>goodsTime</key>
		<string>7</string>
        <key>goodsDesc</key>
        <string>《鸢尾花》（Irises）是知名的荷兰画家梵高的作品之一，在他去世的前一年1889年5月，他进入位于法国圣·雷米的一间精神病院，后所画的，目前收藏在美国加州保罗盖兹美术馆内。
            　　画面被一片蓝色占去了大半，浅如海蓝，深似墨团——难以揣度的愁楚与痛苦的凝结。连花叶也绿中偏蓝，缘情随性的。那忧郁的蓝色属于他，伴着生命而来。构图上，鸢尾花的整体造型 “内倾”，与左上角的一簇野菊呼应。野菊的赭红，与土壤色系相谐。赭红与蓝——一种躁动的情绪总在对话忧郁的述说。二者相接处，有一白色的鸢尾花，朵大，茎长，花蕊正对前方，成为画面的亮点。只是在一片一簇中显得突兀——特立独行孤傲的身影，彷徨于躁动和忧郁而前方没有路。这便是1889年5月间的梵高，他将心魂留在了画上。</string>
	</dict>
	<dict>
		<key>goodsName</key>
		<string>午睡</string>
		<key>goodsImage</key>
		<string>http://photocdn.sohu.com/20151212/mp48093163_1449900609985_14.jpg</string>
		<key>goodsBuyer</key>
		<string>杨过</string>
		<key>goodsPrice</key>
		<string>88</string>
		<key>goodsId</key>
		<string>9</string>
		<key>goodsTime</key>
		<string>7</string>
        <key>goodsDesc</key>
        <string>米勒是法国最伟大的田园画家，一位现实主义大师。梵高一向对米勒推崇备至，他对米勒的敬仰终生未改。梵高像米勒一样关注世人疾苦，内心蕴藏着深厚的爱，并借助作品来传达爱。梵高对米勒画作的临摹和再创作，人们能够体会到二者对同一主题的不同理解和不同表现手法，也能看出两种绘画风格的鲜明对照。从两两对应的作品中，既可以领略梵高是如何将米勒的简练、朴素、凝重演绎成梵高的色彩鲜明、生气勃勃、狂野奔放。</string>
	</dict>
</array>
</plist>
